/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #000000;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

h2 {
  color: #444;
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(178, 0, 0, 0.1);
}

/* Links */
a {
  display: block;
  text-align: center;
  color: #3498db;
  text-decoration: none;
  margin-top: 10pt;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Forms */
form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="submit"] {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.form-group input[type="submit"]:hover {
  background-color: #4cae4c;
}

span[style="color: red"] {
  color: #e74c3c;
}

/* Buttons */
.form-group input[type="submit"].delete {
  background-color: #d9534f;
  margin-top: 10px;
}

.form-group input[type="submit"].delete:hover {
  background-color: #c9302c;
}
