<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>

  <body>
    <h1>Contact form</h1>
    <form
      action="{{url_for('contact_complete')}}"
      method="POST"
      novalidate="novalidate"
    >
      <table>
        <tr>
          <td>User name</td>
          <td>
            <input
              type="text"
              name="username"
              value="{{ username }}"
              placeholder="User name"
            />
          </td>
        </tr>
        <tr>
          <td>Mail address</td>
          <td>
            <input
              type="text"
              name="email"
              value="{{ email }}"
              placeholder="Mail address"
            />
          </td>
        </tr>
        <tr>
          <td>Content</td>
          <td>
            <textarea name="description" placeholder="Content">
{{description}}</textarea
            >
          </td>
        </tr>
      </table>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
